.valet__wrapper {
  .valet__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-color;
    border-radius: 8px;
    padding: 1.5em 1em;
    margin: 0.8em;
  }
  .valet__info {
    font-size: 2.8rem;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  .valet__input {
    width: 80%;
    margin-bottom: 1em;
    border: none;
    padding: 0.8em 0.5em;
    border-radius: 8px;
    box-shadow: 4px 4px 5px rgba(82, 82, 82, 0.4);
  }
  .valet__btn {
    padding: 1em 3em;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: $main-color;
    color: $red-color;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: $red-color;
      color: $main-color;
    }
  }

  .valet__list-title {
    font-size: 2.8rem;
    padding: 0.5em;
    text-align: center;
    text-transform: uppercase;
  }
  .valet__item-info {
    font-weight: bold;
  }
  .valet__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.8em;
    list-style-type: none;
    padding-left: 1.5em;
    padding: 0.7em;
    background-color: $bg-color;
  }
  .valet__tools {
    display: inline-block;
  }
  .valet__tools button {
    padding: 0.5em 1em;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: $red-color;
      color: $main-color;
    }
  }
  .completed {
    font-size: 12px;
    font-style: italic;
    color: var(--light-dark);
    text-decoration: line-through;
  }
  .popup__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8em;
  }
  .popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    padding: 1em 1em;
    background-color: $bg-color;
  }
  .popup__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5em;
    width: 90%;
  }
  .popup__input {
    width: 100%;
    padding: 0.8em 0.5em;
    border-radius: 8px;
    border: none;
    box-shadow: 4px 4px 5px rgba(82, 82, 82, 0.4);
    margin-bottom: 1em;
  }
  .popup__btn {
    display: inline-block;
    width: 40%;
    margin: 0.7em;
    padding: 0.8em 1em;
    border-radius: 8px;
    border: none;
    color: $red-color;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: $red-color;
      color: $main-color;
    }
  }
}
